/*Selector Universal*/
* {
    padding: 0;
    margin: 0;

}
/*selector id*/
#contenido {
    width: 1300px;
    height: 800px;
    background-color: rgb(175, 192, 207);
    max-width: 0 auto;
    margin: 2em;
    font-family:helvaticaRounded,sans-serif
}
#encabezado {
    height: 10%;
    background-color: rgb(172, 203, 77);
    margin: 1em auto;
    font-family:helvaticaRounded,sans-serif;
    
}
#Barra_Navegacion {
    height: 5%;
    background-color: darkgray;
    margin: 1em auto;
    font-family:helvaticaRounded,sans-serif
}
#contenido2 {
    height: 80%;
    width: 95%;
    background-color: cadetblue;
    margin: auto;
    float: center;
}
#pie_pagina {
    height: 2%;
    width: 100%;
    background-color: darkgray;
    border-radius: 1em;
    margin: auto;
    float: left;
}
 /*Selector de class*/
 .texto {
    text-align: justify;
    font-family: helvaticaRounded,sans-serif;
    font-size: medium;
 }
.encabezado_articulo {
   text-align: center;
   background: #333;
   color: white;
   margin: auto 2em;
}
.imagen {
    display: block;
    /*margin-left: 25px;*/
    border-radius: 25px;
    /*padding: 10px;*/
    width: 350px;
    height: 300px;
 
}
ul {
    text-align: center;

 }
 li {
    display: inline;
    padding-left: 6px;
    padding-right: 6px;
    text-align: center;
    font-family: helvaticaRounded,sans-serif;
 }
/*PRODUCTOS*/
.flex-container {
    margin: 6%;
    text-align: center;
    line-height: 75px;
    font-size: 30px;
}
.separar {
    margin-left: 2%;
}